@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#nprogress {
  display: block !important;
  position: relative !important;
}
#nprogress .bar {
  background-color: #ef4444 !important; /* Tailwind red-500 */
  height: 2px !important;
  position: fixed !important;
  top: 68px !important;
  left: 0 !important;
  width: 100% !important;
  z-index: 1500 !important;
  border-radius: 9999px; /* optional for rounded look */
}

#nprogress .spinner {
  display: none !important;
}

@layer utilities {
  .custom-background {
    background-image: linear-gradient(
      rgb(1, 1, 57),
      rgb(129, 115, 255),
      rgb(1, 1, 57)
    );
    scale: 1.2;
    rotate: -2deg;
  }
}
